:root {
  --color-slate-50: oklch(0.984 0.003 247.858);
  --color-slate-100: oklch(0.968 0.007 247.896);
  --color-slate-200: oklch(0.929 0.013 255.508);
  --color-slate-300: oklch(0.869 0.022 252.894);
  --color-slate-400: oklch(0.704 0.04 256.788);
  --color-slate-500: oklch(0.554 0.046 257.417);
  --color-slate-600: oklch(0.446 0.043 257.281);
  --color-slate-700: oklch(0.372 0.044 257.287);
  --color-slate-800: oklch(0.279 0.041 260.031);
  --color-slate-900: oklch(0.208 0.042 265.755);
  --color-slate-950: oklch(0.129 0.042 264.695);

  --color-primary-50: oklch(0.97 0.014 254.604);
  --color-primary-100: oklch(0.932 0.032 255.585);
  --color-primary-200: oklch(0.882 0.059 254.128);
  --color-primary-300: oklch(0.809 0.105 251.813);
  --color-primary-400: oklch(0.707 0.165 254.624);
  --color-primary-500: oklch(0.623 0.214 259.815);
  --color-primary-600: oklch(0.546 0.245 262.881);
  --color-primary-700: oklch(0.488 0.243 264.376);
  --color-primary-800: oklch(0.424 0.199 265.638);
  --color-primary-900: oklch(0.379 0.146 265.522);
  --color-primary-950: oklch(0.282 0.091 267.935);
  
  /* Override Mintlify Grays with Slate Grays */
  --gray-50: 248, 250, 252;
  --gray-100: 241, 245, 249;
  --gray-200: 226, 232, 240;
  --gray-300: 203, 213, 225;
  --gray-400: 148, 163, 184;
  --gray-500: 100, 116, 139;
  --gray-600: 71, 85, 105;
  --gray-700: 51, 65, 85;
  --gray-800: 30, 41, 59;
  --gray-900: 15, 23, 42;
  --gray-950: 2, 6, 23;

  /* Border Radius */
  --rounded-xl: 0.5rem;
  --rounded-2xl: 0.75rem;
  --rounded-3xl: 1rem;
  --rounded-full: 9999px;
  --rounded-search: 0.75rem;

  /* Border Colors */
  --dark-border-color: color-mix(in oklch, var(--color-slate-700) 75%, transparent);
  --light-border-color: color-mix(in oklch, var(--color-slate-400) 75%, transparent);
}

.topbar-right-container button[aria-label="Toggle dark mode"] {
  border-radius: var(--rounded-xl);
  height: 36px;
  width: 36px;
}

#topbar-cta-button > a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.sidebar-group-header {
  font-size: 0.875rem;
  font-weight: 600;
}

.card {
  border-radius: var(--rounded-3xl);
  transition: all 0.2s ease-in-out;
}
a.card:hover, a.card:focus {
  border-color: var(--primary);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#pagination > a {
  border-radius: var(--rounded-3xl);
}
#pagination > a:hover,
#pagination > a:focus {
  background-color: color-mix(in oklch, var(--color-primary-500) 15%, transparent) !important;
  border-color: var(--color-primary-500) !important;
}

/*
  Color mode overrides
*/

.text-gray-400 {
  color: var(--color-slate-400);  
}

html.light #search-bar-entry {
  background-color: var(--color-slate-100);
}

html.light .navbar-link > a:focus,
html.light .navbar-link > a:hover,
html.light .topbar-right-container button[aria-label="Toggle dark mode"]:hover,
html.light .topbar-right-container button[aria-label="Toggle dark mode"]:focus {
  background-color: var(--color-slate-200);
}

html.light .sidebar-nav-group-divider {
  border-bottom: 1px solid var(--light-border-color);
}
html.dark .sidebar-nav-group-divider {
  border-bottom: 1px solid var(--dark-border-color);
}

html.light #navbar > .border-gray-100 {
  border-bottom: 1px solid var(--light-border-color);
}
html.dark #navbar > .border-gray-100 {
  border-bottom: 1px solid var(--dark-border-color);
}

html.light #sidebar-content {
  border-right: 1px solid var(--light-border-color);
}
html.dark #sidebar-content {
  border-right: 1px solid var(--dark-border-color);
}

html.light .toc-item.border-gray-950\/5,
html.light .toc-item > a.border-gray-950\/5 {
  border-left-color: var(--light-border-color);
}
html.dark .toc-item.border-gray-950\/5,
html.dark .toc-item > a.border-gray-950\/5 {
  border-left-color: var(--dark-border-color);
}

html.light .card {
  border-color: var(--light-border-color);
}
html.dark .card {
  background-color: var(--color-slate-900);
  border-color: var(--dark-border-color);
}

html.light .frame {
  background-color: var(--color-slate-200);
}
html.dark .frame {
  background-color: var(--color-slate-700);
}

html.light .step > div.w-px {
  background-color: var(--light-border-color);
}
html.light .step > div.w-px.to-transparent {
  background-color: transparent;
  background-image: linear-gradient(to bottom, var(--light-border-color) 0%, transparent 100%);
}

html.light #pagination > a {
  background-color: color-mix(in oklch, var(--color-slate-400) 15%, transparent);
  border-color: var(--light-border-color);
}
html.dark #pagination > a {
  background-color: color-mix(in oklch, var(--color-slate-700) 15%, transparent);
  border-color: var(--dark-border-color);
}
