{
  "openapi": "3.1.0",
  "info": {
    "title": "Endgame Public API",
    "version": "1.0.0",
    "description": "Create and manage Endgame threads over HTTPS."
  },
  "servers": [
    {
      "url": "https://app.endgame.io"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/threads": {
      "post": {
        "operationId": "createThread",
        "summary": "Create a thread",
        "description": "Creates a new thread in the caller's organization. If a `prompt` is supplied, a user message is persisted and the assistant's response begins generating asynchronously -- poll `GET /api/v1/threads/{id}` until the derived `status.state` is `idle`.",
        "tags": ["Threads"],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateThreadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thread created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateThreadResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/InvalidParams" }
        }
      },
      "get": {
        "operationId": "listThreads",
        "summary": "List threads",
        "description": "Lists threads in the caller's organization with cursor pagination. User-scoped API keys see only their own threads; M2M callers see all threads in the org. Results are ordered most-recent-first.",
        "tags": ["Threads"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of threads to return (1-100, default 25).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from a previous response's `nextCursor`. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "description": "Optional filter: only return threads associated with this account ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of threads.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListThreadsResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/InvalidParams" }
        }
      }
    },
    "/api/v1/threads/{id}": {
      "get": {
        "operationId": "getThread",
        "summary": "Get a thread",
        "description": "Retrieves a thread, its messages, and its derived run status. Callers can only fetch threads they are permitted to read -- threads created by other users under a user-scoped key return `404 NOT_FOUND`.",
        "tags": ["Threads"],
        "parameters": [
          { "$ref": "#/components/parameters/ThreadId" }
        ],
        "responses": {
          "200": {
            "description": "Thread, messages, and derived status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetThreadResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateThread",
        "summary": "Update a thread",
        "description": "Renames a thread. Only `title` is writable. M2M callers receive `403 FORBIDDEN`.",
        "tags": ["Threads"],
        "parameters": [
          { "$ref": "#/components/parameters/ThreadId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateThreadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated thread.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateThreadResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/InvalidParams" }
        }
      },
      "delete": {
        "operationId": "deleteThread",
        "summary": "Delete a thread",
        "description": "Soft-deletes a thread. The record is preserved server-side but will no longer appear in `GET /api/v1/threads` or be readable via `GET /api/v1/threads/{id}`. M2M callers receive `403 FORBIDDEN`.",
        "tags": ["Threads"],
        "parameters": [
          { "$ref": "#/components/parameters/ThreadId" }
        ],
        "responses": {
          "200": {
            "description": "Deletion acknowledged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteThreadResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Endgame API key (`eak_*`) or WorkOS M2M JWT. Obtain a user-scoped key from Settings → API keys."
      }
    },
    "parameters": {
      "ThreadId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Thread identifier.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Thread": {
        "type": "object",
        "description": "Public representation of a thread.",
        "required": [
          "id",
          "title",
          "createdAt",
          "updatedAt",
          "accountId",
          "secondaryId",
          "published",
          "deleted",
          "threadUrl"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable thread identifier.",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "description": "Human-readable title. Auto-generated from the first prompt when a thread is created without an explicit title."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of thread creation.",
            "readOnly": true
          },
          "updatedAt": {
            "type": ["string", "null"],
            "format": "date-time",
            "description": "ISO 8601 timestamp of the last update. `null` if never updated.",
            "readOnly": true
          },
          "accountId": {
            "type": ["string", "null"],
            "description": "Associated account ID, if any."
          },
          "secondaryId": {
            "type": ["string", "null"],
            "description": "Secondary linkage (e.g. opportunity, user). Settable on create only."
          },
          "published": {
            "type": "boolean",
            "description": "Whether the thread is published to the organization.",
            "readOnly": true
          },
          "deleted": {
            "type": "boolean",
            "description": "Whether the thread has been soft-deleted.",
            "readOnly": true
          },
          "threadUrl": {
            "type": ["string", "null"],
            "format": "uri",
            "description": "Deep link into the Endgame app for this thread.",
            "readOnly": true
          }
        }
      },
      "ThreadMessage": {
        "type": "object",
        "description": "A single message on a thread.",
        "required": [
          "id",
          "threadId",
          "role",
          "content",
          "status",
          "createdAt",
          "completedAt",
          "steps",
          "sources",
          "attachments",
          "model"
        ],
        "properties": {
          "id": { "type": "string", "readOnly": true },
          "threadId": { "type": "string", "readOnly": true },
          "role": {
            "type": "string",
            "enum": ["assistant", "user"],
            "readOnly": true
          },
          "content": { "type": "string", "readOnly": true },
          "status": {
            "type": ["string", "null"],
            "enum": ["in_progress", "completed", "failed", null],
            "description": "Lifecycle status of the message. Always `null` for `user` messages; non-null for assistant messages.",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "completedAt": {
            "type": ["string", "null"],
            "format": "date-time",
            "readOnly": true
          },
          "steps": {
            "type": ["array", "null"],
            "description": "Reasoning steps emitted while the assistant was generating.",
            "items": {
              "type": "object",
              "required": ["description"],
              "properties": {
                "description": { "type": "string" }
              },
              "additionalProperties": true
            },
            "readOnly": true
          },
          "sources": {
            "type": ["array", "null"],
            "description": "Source documents referenced by the assistant.",
            "items": { "type": "object", "additionalProperties": true },
            "readOnly": true
          },
          "attachments": {
            "type": ["array", "null"],
            "description": "User-supplied attachments associated with the message.",
            "items": { "type": "object", "additionalProperties": true },
            "readOnly": true
          },
          "model": {
            "type": ["string", "null"],
            "description": "Identifier of the model that produced the message, if applicable.",
            "readOnly": true
          }
        }
      },
      "ThreadStatus": {
        "type": "object",
        "description": "Derived run status based on the latest assistant message.",
        "required": ["state", "activeMessageId", "latestUpdate", "stepCount"],
        "properties": {
          "state": {
            "type": "string",
            "enum": ["idle", "in_progress", "error"],
            "description": "`idle` when no assistant work is pending (or no assistant messages exist yet), `in_progress` while the assistant is still generating, `error` if the most recent assistant message failed."
          },
          "activeMessageId": {
            "type": ["string", "null"],
            "description": "ID of the assistant message currently being generated, if `state` is `in_progress`."
          },
          "latestUpdate": {
            "type": ["string", "null"],
            "description": "Description of the most recent reasoning step, or `\"Thinking\"` if the assistant hasn't emitted a step yet."
          },
          "stepCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of reasoning steps emitted on the active assistant message."
          }
        }
      },
      "CreateThreadRequest": {
        "type": "object",
        "description": "Parameters for creating a thread. All fields are optional; an empty body creates an untitled, empty thread.",
        "properties": {
          "title": {
            "type": "string",
            "description": "Explicit title. If omitted and a `prompt` is supplied, the title is auto-generated."
          },
          "prompt": {
            "type": "string",
            "description": "First user message on the thread. Triggers an assistant response that generates asynchronously."
          },
          "accountId": {
            "type": "string",
            "description": "Associate the thread with an account ID."
          },
          "secondaryId": {
            "type": "string",
            "description": "Secondary linkage (e.g. opportunity, user)."
          }
        }
      },
      "CreateThreadResponse": {
        "type": "object",
        "required": ["thread"],
        "properties": {
          "thread": { "$ref": "#/components/schemas/Thread" },
          "messageId": {
            "type": "string",
            "description": "ID of the user message persisted from `prompt`. Present only when `prompt` was supplied."
          },
          "responseMessageId": {
            "type": "string",
            "description": "ID of the in-flight assistant response message. Poll `GET /api/v1/threads/{id}` until this message's `status` is `completed` or `failed`."
          }
        }
      },
      "ListThreadsResponse": {
        "type": "object",
        "required": ["threads", "nextCursor"],
        "properties": {
          "threads": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Thread" }
          },
          "nextCursor": {
            "type": ["string", "null"],
            "description": "Opaque cursor for the next page. `null` when there are no more pages."
          }
        }
      },
      "GetThreadResponse": {
        "type": "object",
        "required": ["thread", "messages", "status"],
        "properties": {
          "thread": { "$ref": "#/components/schemas/Thread" },
          "messages": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ThreadMessage" }
          },
          "status": { "$ref": "#/components/schemas/ThreadStatus" }
        }
      },
      "UpdateThreadRequest": {
        "type": "object",
        "description": "Only `title` is writable. Unknown fields are rejected with `INVALID_PARAMS`.",
        "additionalProperties": false,
        "required": ["title"],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "description": "New title. Must be at least one character."
          }
        }
      },
      "UpdateThreadResponse": {
        "type": "object",
        "required": ["thread"],
        "properties": {
          "thread": { "$ref": "#/components/schemas/Thread" }
        }
      },
      "DeleteThreadResponse": {
        "type": "object",
        "required": ["id", "deleted"],
        "properties": {
          "id": { "type": "string" },
          "deleted": {
            "type": "boolean",
            "enum": [true],
            "description": "Always `true` on a successful delete."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message", "trace_id"],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "INVALID_PARAMS",
                  "UNAUTHORIZED",
                  "FORBIDDEN",
                  "NOT_FOUND",
                  "RATE_LIMITED",
                  "INTERNAL_ERROR"
                ],
                "description": "Stable machine-readable error code."
              },
              "message": {
                "type": "string",
                "description": "Human-readable explanation."
              },
              "trace_id": {
                "type": "string",
                "description": "Unique identifier for the request. Include in support requests."
              }
            }
          }
        }
      }
    },
    "responses": {
      "InvalidParams": {
        "description": "Request body or query parameters failed validation. See [Errors](/api-reference/errors) for the full error envelope and code list.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  }
}
